*.*~
*.aux
*.curlopt
*.glo
*.hd
*.idx
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.zip
00-change-name.sh
TEMPLATE
dashundergaps/build
doc-v3/build
doc-v3/tmp
fewerfloatpages/build
footmisc/build
ftnright/build
hummingbird/build
parskip/build
unicodefonttable/build
widows-and-orphans/build/
