*.*~
*.aux
*.curlopt
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.zip
00-change-name.sh
TEMPLATE
dashundergaps/build
doc-v3/build
doc-v3/tmp
footmisc/build
ftnright/build
hummingbird/build
lessfloatpages/build
parskip/build
utf8font/build
