*.*~
*.aux
*.curlopt
*.log
*.out
*.pdf
*.synctex.gz
*.toc
*.zip
TEMPLATE
dashundergaps/build
doc-v3/build
doc-v3/tmp
footmisc/build
ftnright/build
lessfloatpages/build
parskip/build
widows-and-orphans/build/
